.back-to-top-btn {
  position: fixed;
  bottom: 5%;
  padding: 0 3px 5px 3px;
  right: 5%;
  line-height: 0;
  transition: opacity 150ms, visibility 150ms;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms, visibility 150ms;
  }

  i {
    line-height: 18px;
  }
}
