/**
 * Common styles
 */
body {
  min-height: 100vh;
  margin: 0px;
}

/**
 * Spinner styles
 */
.spinner-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

.center-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/**
 * Splash-like screen styles
 */
.splash-logo-container {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

app-root:empty + .splash-logo-container {
  opacity: 1;
}



