/**
 * Common mixins to be able to load the theme colors
 */

/**
 * Define common classes to use the default primary color.
 */
@mixin primary-color-base-styles($theme) {

  /* Get the primary palette from the theme */
  $primaryPalette: map-get($theme, primary);

  /* Class to use the primary color as background */
  .primary-color-bg {
    background-color: mat-color($primaryPalette, default);
  }

  /* Class to use the primary color as text color */
  .primary-color-font {
    color: mat-color($primaryPalette, default) !important;
  }
}


/**
 * Define common classes to use the default accent color.
 */
@mixin accent-color-base-styles($theme) {

  /* Get the accent palette from the theme */
  $accentPalette: map-get($theme, accent);

  /* Class to use the accent color as background */
  .accent-color-bg {
    background-color: mat-color($accentPalette, default);
  }

  /* Class to use the accent color as text color */
  .accent-color-font {
    color: mat-color($accentPalette, default) !important;
  }
}

/**
 * Define common classes to use the default warn color.
 */
@mixin warn-color-base-styles($theme) {

  /* Get the warn palette from the theme */
  $warnPalette: map-get($theme, warn);

  /* Class to use the warn color as background */
  .warn-color-bg {
    background-color: mat-color($warnPalette, default);
  }

  /* Class to use the warn color as text color */
  .warn-color-font {
    color: mat-color($warnPalette, default) !important;
  }
}