.repository-container {
  margin: 30px 0 10px 0;
  border-radius: 0px;
  min-height: 120px;
  z-index: 10;
  padding: 0;

  .repository-row {
    padding: 10px;
  }

  .collaborators-container {
    flex-wrap: wrap;
    padding: 0 10px;
    min-height: 91px !important;

    .subtitle {
      width: 100%;
      margin: 0 -10px 10px -10px;
      font-size: 14pt;
      font-weight: bold;
    }

    app-tag {
      margin-bottom: 10px;
    }
  }
}

.sub {
  margin-top: -10px;
  padding: 0 0 20px 0;
  z-index: 1;
  span, a {
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }
}

.repository-icon {
  margin-right: 5px;
  height: 70px;
}

.repository-icon-sm {
  border-radius: 50%;
  max-width: 25px;
}

.repository-name {
  margin-right: 2em;
  font-weight: bold;
}

.issues-icon, .code-icon, .time-icon {
  margin-right: 5px;
  margin-bottom: 2px;
}

.unfold-arrow i{
  font-size: 54pt;
  padding-right: 20px;
  cursor: pointer;
}

.subtitle {
  display: block;
  padding: 5px 0 5px 35px;
}

.spin {
  transform: rotate(90deg);
  transform-origin: 25% 50% 0;
  animation:spin 200ms linear;
}

.spinOut {
  transform: rotate(0deg);
  transform-origin: 25% 50% 0;
  animation:spinOut 200ms linear;
}

.selected-icon {
  font-size: 25pt !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes spinOut {
  from {
    transform:rotate(90deg);
  }
  to {
    transform:rotate(0deg);
  }
}
