<md-card class="repository-container primary-color-bg" [ngClass]="{'accent-color-bg' : repository.selected}"
         *ngIf="repository">
  <div fxLayout="row" class="repository-row">
    <div fxLayout="column" fxFlex.xs="90" fxFlex.md="90" fxFlex.sm="90">
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10" fxFlex.xs="15">
          <i class="fa fa-4x fa-code-fork"></i>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start"
             fxFlex.lg="20" fxFlex.xl="30" fxFlex.md="70" fxFlex.sm="70" fxFlex.xs="90">
          <div fxLayout="row" fxLayoutAlign="start center" fxFill>
            <span class="repository-name">{{repository.name}}</span>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start"
             fxFlex.lg="20" fxFlex.xl="10" fxFlex.md="70" fxFlex.sm="70" fxFlex.xs="90">
          <div fxLayout="row" fxLayoutAlign="start center" fxFill>
            <div fxLayout="row" fxLayoutAlign="start center" fxFill>
              <i class="fa fa-user-circle code-icon" aria-hidden="true"></i>
              <span [ngClass]="{'primary-color-font': repository.selected, 'accent-color-font': !repository.selected}" fxHide.xs
                    fxHide.sm>{{repository.username}}</span>
            </div>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             fxFlex="5"
             fxHide.md fxHide.sm fxHide.xs>
          <div fxLayout="row" fxLayoutAlign="center center" fxFill>
            <i class="fa fa-exclamation-circle issues-icon"></i>
            <span [ngClass]="{'primary-color-font': repository.selected, 'accent-color-font': !repository.selected}">{{repository
              .issues}}</span>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             fxFlex="15"
             fxHide.md fxHide.sm fxHide.xs>
          <div fxLayout="row" fxLayoutAlign="center center" fxFill>
            <i class="fa fa-code code-icon" aria-hidden="true"></i>
            <span [ngClass]="{'primary-color-font': repository.selected, 'accent-color-font': !repository.selected}">{{repository
              .type}}</span>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             fxFlex="15"
             fxHide.md fxHide.sm fxHide.xs>
          <div fxLayout="row" fxLayoutAlign="center center" fxFill>
            <i class="fa fa-clock-o time-icon" aria-hidden="true"></i>
            <span [ngClass]="{'primary-color-font': repository.selected, 'accent-color-font': !repository.selected}">{{repository
              .age}}</span>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             fxFlex="15"
             fxHide.md fxHide.sm fxHide.xs>
          <div fxLayout="row" fxLayoutAlign="end center" fxFill class="unfold-arrow"
               [ngClass]="{'primary-color-font': repository.selected, 'accent-color-font': !repository.selected}">
            <i (click)="toggleSubsection()" class="fa fa-angle-right"
               [ngClass]="{ 'spin': unfolded, 'spinOut': unfolded === false }" aria-hidden="true"
               *ngIf="!userFound"></i>
            <i class="fa fa-{{selectedIcon}} selected-icon" aria-hidden="true" *ngIf="userFound"
               (click)="selectedRepository(repository)"></i>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" fxFill class="collaborators-container repository-row"
       *ngIf="!userFound">
    <div class="subtitle accent-color-bg primary-color-font">Collaborators</div>
    <app-tag *ngFor="let collaborator of repository.collaborators" [tagName]="collaborator.username"
             fxLayout="column" fxLayoutAlign="space-between center" (onRemove)="getUserDelete($event)"></app-tag>
  </div>
</md-card>

<div class="subsection" *ngIf="unfolded" [@slideInOut]>
  <md-card class="repository-container sub primary-color-bg" *ngIf="repository">
    <span class="subtitle accent-color-bg">Pull requests</span>
    <div fxLayout="row" fxFill>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <md-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
          New ones
        </md-slide-toggle>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <md-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
          Comments
        </md-slide-toggle>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <md-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
          Commits
        </md-slide-toggle>
      </div>
    </div>
    <span class="subtitle accent-color-bg">Pull requests</span>
  </md-card>

  <md-card class="repository-container sub primary-color-bg" *ngIf="repository">
    <span class="subtitle accent-color-bg">Issues</span>
    <div fxLayout="row" fxFill>
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <md-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
          New ones
        </md-slide-toggle>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <md-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
          Comments
        </md-slide-toggle>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33" fxFlex.xs="33">
        <a class="accent-color-bg" md-raised-button routerLink=".">Apply</a>
      </div>
    </div>
  </md-card>
</div>
