.user-profile-container {
  margin: 5px 0;
  padding: 20px;
  height: 80px;
}

.user-icon {
  margin-right: 5px;
}

.user-profile-picture {
  border-radius: 50%;
  max-width: 55px;
}

.user-full-name {
  margin-right: 2em;
}

.user-selected{
  color: white;
  background-color: black;
}