.no-repositories-container {
  height: 100px;
  width: 100%;
  text-align: center;
}

.menu-button {
  width: auto;
  border-radius: 0;
  top: 0px;
  padding: 0px 14px 14px 14px;
  font-size: 16pt;
  font-weight: bold;
  span {
    margin-right: 27px;
  }
}

.configuration-header {
  color: white;
  margin-bottom: 30px;
}
