<app-header></app-header>

<app-nav-menu></app-nav-menu>

<app-back-to-top></app-back-to-top>

<div class="main-content-dark-container">

  <div class="content-wrapper">


    <div class="configuration-header" fxLayout="row" fxFlex.xs="90" fxFlex.md="90" fxFlex.sm="90" *ngIf="!userFound" >

      <div fxLayout="column" fxLayoutAlign="left left" fxFlex="35" fxFlex.xs="35">
        <div fxLayout="row" fxFill class="search-container">
          <input class="search-input" [(ngModel)]="searchTerm" placeholder="Search repo...">
          <button md-button (click)="searchTerm = undefined" *ngIf="searchTerm" class="clear-search gray-color-font">
            <md-icon>clear</md-icon>
          </button>
          <button md-button class="search-button primary-color-font accent-color-bg">
            <md-icon>search</md-icon>
          </button>
        </div>
      </div>

      <div fxLayout="column" fxFlex="15" fxLayoutAlign="center center">
        <button md-button class="primary-color-font accent-color-bg" (click)="openFindUser()">
          <md-icon>person_add</md-icon>
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="end end" fxFlex="25" fxFlex.xs="25">

        <md-menu y-position="below" x-position="before" [overlapTrigger]="false" #appMenu1="mdMenu" class="config-menu">
          <button md-menu-item> Item 1</button>
          <button md-menu-item> Item 2</button>
        </md-menu>

        <button md-icon-button [mdMenuTriggerFor]="appMenu1" class="accent-color-bg menu-button">
          <span>Repository</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

      </div>

      <div fxLayout="column" fxLayoutAlign="end end" fxFlex="25" fxFlex.xs="25">

        <md-menu y-position="below" x-position="before" [overlapTrigger]="false" #appMenu2="mdMenu" class="config-menu">
          <button md-menu-item> Item 1</button>
          <button md-menu-item> Item 2</button>
        </md-menu>

        <button md-icon-button [mdMenuTriggerFor]="appMenu2" class="accent-color-bg menu-button">
          <span>Sort By</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>


      </div>

    </div>

    <div class="configuration-header" fxLayout="row" fxFlex.xs="90" fxFlex.md="90" fxFlex.sm="90" *ngIf="userFound">

      <div fxLayout="column" fxLayoutAlign="left left" fxFlex="35" fxFlex.xs="35">
        <div fxLayout="row" fxFill class="search-container">
          <input class="search-input" [(ngModel)]="searchTerm" placeholder="Search repo...">
          <button md-button (click)="searchTerm = undefined" *ngIf="searchTerm" class="clear-search gray-color-font">
            <md-icon>clear</md-icon>
          </button>
          <button md-button class="search-button primary-color-font accent-color-bg">
            <md-icon>search</md-icon>
          </button>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="end end" fxFlex="65" fxFlex.xs="65">

        <md-menu y-position="below" x-position="before" [overlapTrigger]="false" #appMenu2="mdMenu" class="config-menu">
          <button md-menu-item> Item 1</button>
          <button md-menu-item> Item 2</button>
        </md-menu>

        <button md-icon-button [mdMenuTriggerFor]="appMenu2" class="accent-color-bg menu-button">
          <span>Sort By</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>


      </div>

    </div>


    <div class="repo-list-container">

      <div *ngIf="repositories">
        <app-repository *ngFor="let repository of repositories | filter:'name': searchTerm"
                        [repository]="repository" [userFound]="userFound"></app-repository>
      </div>
      <div *ngIf="repositories && repositories.length === 0" class="no-repositories-container accent-color-font">
        You have no repositories!
      </div>

    </div>

    <div class="configuration-buttons" fxLayout="row" fxLayoutAlign="end end" fxFlex.xs="90" fxFlex.md="90"
         fxFlex.sm="90" *ngIf="userFound">
      <div fxLayout="column" fxLayoutAlign="end end" fxFlex="15" fxFlex.md="20" fxFlex.sm="30" fxFlex.xs="40">
        <button md-icon-button class="primary-color-bg accent-color-font confirm-button" (click)="cancelAddCollaborator()">
          <span>Cancel</span>
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="end end" fxFlex="15" fxFlex.md="20" fxFlex.sm="30" fxFlex.xs="40">
        <button md-icon-button class="accent-color-bg confirm-button" (click)="addCollaborator()">
          <span>Accept</span>
        </button>
      </div>
    </div>

  </div>

</div>
