<div class="app-find-collaborator-dialog">
  <h1 md-dialog-title class="primary-color-font accent-color-bg">
    {{title}}
  </h1>

  <div md-dialog-content>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Search">
    </md-input-container>
  </div>

  <div md-dialog-actions class="primary-color-font accent-color-bg">
    <button type="button" md-button>
      <md-icon>clear</md-icon>
    </button>
    <button type="button" md-button>
      <md-icon>check</md-icon>
    </button>
  </div>
</div>