.app-find-collaborator-dialog {
  .mat-dialog-title {
    margin: -24px -24px 20px -24px;
    padding: 24px;
  }

  .mat-dialog-content {
    margin-bottom: 24px;
  }

  .mat-dialog-actions {
    margin: 0 -24px -24px -24px;

    button {
      width: 50%;
    }
  }
}