<div class="app-find-collaborator-dialog">
  <h1 md-dialog-title class="primary-color-font accent-color-bg">
    {{title}}
  </h1>

  <div md-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center center" style="
    min-width: 25em;">
      <div fxLayout="row" fxFill class="search-container">
    <md-input-container>
      <input class="search-input" mdInput [(ngModel)]="searchUser" placeholder="Search user...">
    </md-input-container>
    <button md-button (click)="deleteUsername()" *ngIf="searchUser" class="clear-search gray-color-font">
      <md-icon>clear</md-icon>
    </button>
    <button md-button class="search-button" (click)="search()">
      <md-icon>search</md-icon>
    </button>
      </div>
    </div>

    <div class="user-list-container">

      <app-user *ngFor="let user of users" [user]="user" [lastUser]="userSelected"
                (userSelect)="getUserSelect($event)"></app-user>
      <div *ngIf="users && users.length === 0" class="no-users-container accent-color-font">
        You have no users!
      </div>

    </div>
  </div>



  <div md-dialog-actions class="primary-color-font accent-color-bg">
    <button type="button" md-button (click)="dialogRef.close(null)">
      <md-icon>clear</md-icon>
    </button>
    <button type="button" md-button (click)="confirmSelection()"
            [disabled]="!userSelected">
      <md-icon>check</md-icon>
    </button>
  </div>
</div>